<div
  style='box-sizing:border-box; color:#38526d; font-family:Arial, sans-serif; padding:20px; width:100%'
  width='100%'
>
  <div
    style='box-sizing:border-box; margin:0 auto; max-width:600px; width:100%'
    width='100%'
  >
    <div
      style='background:#bde9f4; border-bottom-width:0; border-color:#3861a3; border-left-width:1px; border-right-width:1px; border-style:solid; border-top-left-radius:20px; border-top-right-radius:20px; border-top-width:1px; box-sizing:border-box; height:80px; padding-top:20px; text-align:center'
      height='80'
      align='center'
    >
      <img src='cid:logo' alt='logo' width='250' />
    </div>
    <div
      style='background:#f5fbff; border-color:#3861a3; border-left-width:1px; border-right-width:1px; border-style:solid; box-sizing:border-box; padding:40px 60px 20px 60px; width:100%'
      width='100%'
    >
      <h2
        style='color:#3861a3; font-size:24px; line-height:1; margin-top:0'
      >Hello {{name}},</h2>
      <p
        style='font-size:16px; line-height:1.5; margin-bottom:36px; margin-top:0'
      >
        You've received this message because your email address has been
        registered and enrolled with
        {{appTitle}}. Verify yourself and confirm your enrollment by tapping the
        link below.
      </p>
      <div style='box-sizing:border-box; margin-bottom:36px'>
        <a
          href='{{confirmationLink}}'
          style='font-size:16px; background:#4c81bd; border-color:#3861a3; border-radius:99px; border-style:solid; border-width:2px; box-sizing:border-box; color:#f5fbff; display:block; font-weight:600; height:50px; margin:0 auto; padding-top:11px; text-align:center; text-decoration:none; width:200px'
          height='50'
          align='center'
          width='200'
        >
          Confirm Enrollment
        </a>
      </div>
      <p
        style='line-height:1.5; font-size:14px; max-width:400px; opacity:0.8; margin-top:0'
      >
        If you did not register with us, simply ignore this email. You will not
        receive any emails from us.
      </p>
    </div>
    <footer
      style='background:#3c68aa; border-bottom-left-radius:20px; border-bottom-right-radius:20px; border-color:#3861a3; border-style:solid; border-width:1px; box-sizing:border-box; color:rgba(245, 251, 255, 0.8); font-size:14px; padding:20px 16px; text-align:center; width:100%'
      align='center'
      width='100%'
    >© {{copyrightYear}} {{appTitle}}. All rights reserved.</footer>
  </div>
</div>